* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
/*Neutral*/
--Neutral-900: hsl(227, 75%, 14%);
--Neutral-800: hsl(226, 25%, 17%);
--Neutral-700: hsl(225, 23%, 24%);
--Neutral-600: hsl(226, 11%, 37%);
--Neutral-300: hsl(0, 0%, 78%);
--Neutral-200: hsl(217, 61%, 90%);
--Neutral-100: hsl(0, 0%, 93%);
--Neutra-0: hsl(200, 60%, 99%);

/*Red*/
--Red-400: hsl(3, 86%, 64%);
--Red-500: hsl(3, 71%, 56%);
--Red-700: hsl(3, 77%, 44%);

/*Gradient*/
--Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
--Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

/*Font*/
--font-size: 16px;
--font-family: [Noto Sans](https://fonts.google.com/noto/specimen/Noto+Sans);
--font-weight-normal: 400;
--font-weight-bold: 500;
--font-weight-bolder: 700;
}

body {
    color: goldenrod;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}